{% comment %}
The base page which all other pages inherit from. Contains title and
main navigation links.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{# Load font #}
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,400b,400bi,700,700i,700b,700bi" rel=stylesheet>

		{# Load CSS #}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "/style.css" %}">
	
		{# Favicon #}
		<link rel="shortcut icon" href="{% static "/favicon.ico" %}" type="image/x-icon">
		<link rel="icon" href="{% static "/favicon.ico" %}" type="image/x-icon">

		{# Make the viewport scale to device #}
		<meta name=viewport content="width=device-width, initial-scale=1">

		{# The page title #}
		<title>{% block title %}CommonRank{% endblock %}</title>
	</head>
	<body>
		<div class="bodywrapper">
			<div class="maintitlebox">

				{# The app title #}
				<a href="{% url 'home' %}" style="text-decoration: none"><div class="logobox">CR</div></a>
				<div class="apptitlebox">{% block toppagetitle %}CommonRank{% endblock %}</div>
				<div class="appsettingsbox">
					<div></div>

					{# Show logout and settings if user is logged in #}
					{% if user.is_authenticated %}

						{% comment %}
							Show the return url to the homepage if not
							on leaderboard, otherwise go to the home
							page of the leaderboard
						{% endcomment %}
						<div><a href="

						{% if leaderboard and member %}
							{% url 'leaderboard_home' leaderboard.id member.id %}
						{% else %}
							{% url 'home' %}
						{% endif %}

						">↻&nbsp;return</a></div>

						<div><a href="{% url 'logout' %}">↤&nbsp;logout</a></div>
					{% endif %}

				</div>

			</div>
			<hr>

			{# Extend the body here #}
			{% block content %}<div>Here is content</div>{% endblock %}

		</div>
	</body>
</html>

{# Load any JS files if needed #}
{% block javascript %}{% endblock %}
