{% extends "base.html" %}

{% comment %}
The home page of a user.
{% endcomment %}

{% block content %}
	<section class="homepagecontainer">

		{# The left column #}
		<div class="homepage-column" style="margin-right: 0.69em">

			<h2>{{ user.first_name }}'s leaderboards:</h2>

			{% if members_and_leaderboards %}
				<ul>

					{# List the tourneys #}
					{% for member, leaderboard in members_and_leaderboards %}
					<li><a href='{% url 'leaderboard_home' leaderboard.id member.id %}'>{{ leaderboard.name }}</a></li>
					{% endfor %}

				</ul>
			{% else %}
				<div>No leaderboards :(</div>
			{% endif %}

			{# Other left-column options here #}
			<h2>Also:</h2>
			<ul>
				<li><a href='{% url 'leaderboard_signup' %}'>Create leaderboard</a></li>
			</ul>

		</div>

		{# The right column #}
		<div class="homepage-column" style="margin-left: 0.69em">
			
			{# Display notifications #}
			<h2>Upcoming matches</h2>

			{% if upcoming_matches %}
				<ul>

					{# List the notifications #}
					{% for match in upcoming_matches %}
					<li style="padding-top: 5px">
						<div><span style="font-weight: bold">{{ match.player1 }}</span> vs <span style="font-weight: bold">{{ match.player2 }}</span></div>
						<div>on <span style="color: red">{{ match.leaderboard.name }}</span></div>
					</li>
					{% endfor %}

				</ul>
			{% else %}
				<div>No notifications :(</div>
			{% endif %}

		</div>
	</section>
{% endblock %}
