{% extends "base.html" %}

{% comment %}
The home page of a user.
{% endcomment %}

{% block content %}
	<section class="homepagecontainer">

		{# The left column #}
		<div class="homepage-column" style="margin-right: 0.69em">

			<h2>{{ user.first_name }}'s leaderboards:</h2>

			{% if leaderboards %}
				<ul>

					{# List the tourneys #}
					{% for leaderboard in leaderboards %}
					<li><a href='{% url 'leaderboard_home' leaderboard.id %}'>{{ leaderboard.name }}</a></li>
					{% endfor %}

				</ul>
			{% else %}
				<div>No leaderboards :(</div>
			{% endif %}

			{# Other left-column options here #}
			<h2>Also:</h2>
			<ul>
				<li><a href='{% url 'leaderboard_signup' %}'>Create leaderboard</a></li>
				<li>Invites</li>
			</ul>

		</div>

		{# The right column #}
		<div class="homepage-column" style="margin-left: 0.69em">
			
			{# Display notifications #}
			<h2>Notifications</h2>

			{% if notifications %}
				<ul>

					{# List the notifications #}
					{% for notification in notifications %}
						<li>{{ notification }}</li>
					{% endfor %}

				</ul>
			{% else %}
				<div>No notifications :(</div>
			{% endif %}

		</div>
	</section>
{% endblock %}
