{% extends "base.html" %}

{% comment %}
The home page of a leaderboard.
{% endcomment %}

{% block title %}{{ leaderboard.name }}{% endblock %}

{% block toppagetitle %}{{ leaderboard.name }}{% endblock %}

{% block content %}

	<h2>Useful options</h2>
	<ul>
		<li><a href='{% url 'match_create' leaderboard.id %}'>Submit match</a></li>
		<li><a href='{% url 'match_verify_list' leaderboard.id member.id %}'>Verify matches</li>
		<li><a href='{% url 'match_history' leaderboard.id %}'>Match history</a></li>
		<li>Rankings</li>
		<li>Invite members</li>
	</ul>

	<h2>Top {{ N }}</h2>
	<table class="leaderboardtable">
		<tbody>
			<tr>
				<th></th>
				<th>Username</th>
				<th>ELO</th>
				<th>W/L</th>
				<th>Win %</th>
			</tr>

			{# List the top N members of the leaderboard #}
			{% for member in topmembers %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ member.profileuser.user.username }}</td>
					<td>{{ member.elo }}</td>
					<td>{{ member.wins }}/{{ member.losses }}</td>
					<td>{% widthratio member.wins member.wins|add:member.losses 100 %}%</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
