{% extends "base.html" %}

{% comment %}
The rankings page of a leaderboard.
{% endcomment %}

{% block title %}{{ leaderboard.name }} | rankings{% endblock %}

{% block toppagetitle %}{{ leaderboard.name }}{% endblock %}

{% block content %}

	<h2>Rankings</h2>
	<table class="leaderboardtable">
		<tbody>
			<tr>
				<th></th>
				<th>Username</th>
				<th>ELO</th>
				<th>W/L</th>
				<th>Win %</th>
			</tr>

			{# List the top N members of the leaderboard #}
			{% for rankedmember in rankings %}
				<tr>

					{# Highlight row if current user #}
					{% if member == rankedmember %}
						<td style="font-weight: bold">{{ forloop.counter }}</td>
						<td style="font-weight: bold">{{ rankedmember.profileuser.user.username }}</td>
						<td style="font-weight: bold">{{ rankedmember.elo|floatformat:"0" }}</td>
						<td style="font-weight: bold">{{ rankedmember.wins }}/{{ rankedmember.losses }}</td>
						<td style="font-weight: bold">{% widthratio rankedmember.wins rankedmember.wins|add:rankedmember.losses 100 %}%</td>
					{% else %}
						<td>{{ forloop.counter }}</td>
						<td>{{ rankedmember.profileuser.user.username }}</td>
						<td>{{ rankedmember.elo|floatformat:"0" }}</td>
						<td>{{ rankedmember.wins }}/{{ rankedmember.losses }}</td>
						<td>{% widthratio rankedmember.wins rankedmember.wins|add:rankedmember.losses 100 %}%</td>
					{% endif %}

				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
