{% extends "base.html" %}

{% comment %}
This page shows the match history of a leaderboard.
{% endcomment %}

{% block title %}{{ leaderboard.name }} | match history{% endblock %}

{% block toppagetitle %}{{ leaderboard.name }}{% endblock %}

{% block content %}

	<h2>Match history</h2>

	{# List all the matches #}
	{% if matches %}
		<table class='matchhistorytable'>
			<tbody>
				<tr>
					<th>Player 1</th>
					<th>ELO</th>
					<th>Player 2</th>
					<th>ELO</th>
					<th>State</th>
				</tr>

				{# Bold the winner of each match #}
				{% for match in matches %}
					<tr>
						<td>{{ match.player1.profileuser.user.username }}</td>
						<td>{{ match.player1.elo }}</td>
						<td>{{ match.player2.profileuser.user.username }}</td>
						<td>{{ match.player2.elo }}</td>
						<td>{{ match.state }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		<div>No matches :(</div>
	{% endif %}

{% endblock %}
